<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>classic american grill restaurant</string>
		<string>creative asian food restaurant</string>
		<string>elegant &amp; fine food restaurant</string>
		<string>original italian style restaurant</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
